* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #ffffff;
    --blue: #27aae2;
    --light-grey:  #f6f6f6;
    --darkerGrey: #dddddd;
}

html {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

/* ----- HEADER ----- */
header {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 3.6rem;
    background: var(--blue);
}

.header__container {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.header__img {
    height: 100px;
    width: auto;
    background: var(--blue);
}

/* ----- MAIN ----- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--light-grey);
}

.main__form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
}

#main__form-input {
    font-size: 2.2rem;
    padding: 0.2rem;
    padding-left: 0.4rem;
    border-radius: 0.6rem;
}

.main__form-search-btn,
.main__form-units-btn {
    height: 3.2rem;
    font-size: 2rem;
    padding: 0.4rem;
    border-radius: 0.6rem;
}

.main__form-search-btn:hover,
.main__form-units-btn:hover {
    background: var(--white);
}

.metric-units--active,
.imperial-units--active {
    font-weight: bold;
}

.main__data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--darkerGrey);
    font-size: 2.4rem;
    margin-top: 2rem;
    gap: 0.3rem;
}

.weather-data {
    padding: 0rem 6rem 0rem 6rem;
}

.main__data-wrapper-location {
    font-size: 5.3rem;
    font-weight: bold;
    padding-top: 2rem;
}

.main__data-wrapper-temp {
    font-size: 6rem;
    font-weight: 300;
}

.main__data-wrapper-temp-min-max {
    display: flex;
}

.main__data-wrapper-wind-speed {
    padding-bottom: 2rem;
}